<div class="panel panel-default">
    <div class="panel-heading">
        קליטת עובדים חדשים

        <div style="float:left">
            <button ng-click="$ctrl.downloadExcel()" class="btn btn-success btn-xs">הורדת פרטי עובדים</button>

        </div>
    </div>
    <div class="panel-body">
        <a class="btn btn-success btn-xs" ui-sref="worker({id:0})">עובד חדש</a>

        <button class="btn btn-danger btn-xs" style="float:left" ng-click="$ctrl.deleteAll()">מחיקת מסומנים</button>
       
        <button class="btn btn-success btn-xs" style="float:left;margin-left:10px;" ng-click="$ctrl.sendSMS()">שליחת SMS למסומנים</button>
    </div>
    <div class="table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>

                    <th>מנהל אזור</th>
                    <th>שם פרטי</th>
                    <th>שם משפחה</th>
                    <th>אימייל</th>
                    <th>ת.עדכון</th>
                    <th>סטטוס</th>
                    <th>SMS</th>
                    <th>PDF</th>
                    <th></th>
                    <th></th>
                    <th width="5%"><input type="checkbox" ng-model="$ctrl.checkAllc" style="width:52px;height:20px" ng-click="$ctrl.checkAll()"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10">
                        <input type="text" class="form-control"  ng-model="$ctrl.filter.$" placeholder="חיפוש חופשי" />
                    </td>
                </tr>
                <tr ng-repeat="worker in $ctrl.workers | filter:$ctrl.filter">

                    <td>{{worker.ManagerName}}</td>
                    <td>{{worker.FirstName}}</td>
                    <td>{{worker.LastName}}</td>
                    <td>{{worker.Email}}</td>
                    <td>{{worker.DateRigster | ildate: 'HH:mm DD/MM/YYYY '}}</td>
                    <td>{{worker.Status}}</td>
                    <td>{{worker.IsSendSMS==1 ? 'נשלח':'' }}</td>
                    <td><a class="btn  btn-success" ng-href="{{$ctrl.uploadsUri + worker.Id + '/OfekAllPdf.pdf'}}" target="_blank">PDF</a></td>
                    <td> <button class="btn  btn-warning" ui-sref="worker({id:worker.Id})">עדכון</button></td>
                    <td> <button class="btn  btn-danger" ng-click="$ctrl.delete(worker.Id)">מחק עובד</button></td>
                    <td width="5%"><input style="width:52px;height:20px" type="checkbox" ng-model="worker.IsSelected" /></td>

                </tr>
            </tbody>
        </table>
        </div>
    </div>
