<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{$ctrl.currentFarm.FarmsTypeName}}
            <!--<div style="float:left" ng-if="$ctrl.currentFarm.FarmsTypesId==1">
               
                <a ng-if="($ctrl.farmspdffiles | filter:{ Is101: true }).length > 0" class="btn btn-success btn-xs" ui-sref="worker({id:0,campainid:$ctrl.campain.Id,shnatmas:$ctrl.ShnatMas})">{{$ctrl.currentFarm.FarmsTypeNameOne}} חדש/ה</a>
                <a ng-if="($ctrl.farmspdffiles | filter:{ Is101: true }).length == 0" class="btn btn-success btn-xs" ui-sref="workerall({id:0,campainid:$ctrl.campain.Id})">{{$ctrl.currentFarm.FarmsTypeNameOne}} חדש/ה</a>
            </div>-->
        </div>
        <div class="panel-body">


            <div class="col-md-2" ng-if="($ctrl.farmspdffiles | filter:{ Is101: true }).length > 0">
                <div class="form-group">
                    <label>שנת מס</label>
                    <select class="form-control" ng-model="$ctrl.ShnatMas" ng-change="$ctrl.onSearchChange();$ctrl.onShnatmasChange();">
                        <option value="">--בחר שנת מס--</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>

                    </select>
                </div>

            </div>


            <div class="col-md-2">
                <label>חיפוש חופשי</label>
                <input type="text" class="form-control" ng-model="$ctrl.filterText" placeholder="חיפוש חופשי" ng-change="$ctrl.onSearchChange()" />
            </div>

            <div class="col-md-2">
                <div class="form-group">

                    <label>פעילים\לא פעילים</label>
                    <select class="form-control" ng-init="$ctrl.statusid = '-1'" ng-change="$ctrl.onSearchChange()" ng-model="$ctrl.statusid">
                        <option value="-1">-- הכל --</option>
                        <option value="1">-- פעילים --</option>
                        <option value="0">-- לא פעילים --</option>

                    </select>
                </div>
            </div>


            <div class="col-md-2" style="" ng-if="($ctrl.departments | filter:{TypeId:0}).length > 0">
                <div class="form-group">
                    <label>{{$ctrl.currentFarm.Factory}}</label>
                    <select class="form-control" ng-change="$ctrl.onSearchChange()" ng-options="department.Id as department.Name for department in $ctrl.departments | filter:{TypeId:0}" ng-model="$ctrl.departmentId0">
                        <option value="">-- {{$ctrl.currentFarm.Factory}} --</option>
                    </select>
                </div>
            </div>



            <div class="col-md-2" style="" ng-if="($ctrl.departments | filter:{TypeId:1}).length > 0">
                <div class="form-group">
                    <label>{{$ctrl.currentFarm.Divisions}}</label>
                    <select class="form-control" ng-change="$ctrl.onSearchChange()" ng-options="department.Id as department.Name for department in $ctrl.departments | filter:{TypeId:1}" ng-model="$ctrl.departmentId">
                        <option value="">-- {{$ctrl.currentFarm.Divisions}} --</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2" style="" ng-if="($ctrl.departments | filter:{TypeId:2}).length > 0">
                <div class="form-group">

                    <label>{{$ctrl.currentFarm.SubDivisions}}</label>
                    <select class="form-control" ng-change="$ctrl.onSearchChange()" ng-options="department.Id as department.Name for department in $ctrl.departments | filter:{TypeId:2}" ng-model="$ctrl.departmentId2">
                        <option value="">-- {{$ctrl.currentFarm.SubDivisions}} --</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2" style="" ng-if="($ctrl.departments | filter:{TypeId:3}).length > 0">
                <div class="form-group">
                    <label>{{$ctrl.currentFarm.Departments}}</label>
                    <select class="form-control" ng-change="$ctrl.onSearchChange()" ng-options="department.Id as department.Name for department in $ctrl.departments | filter:{TypeId:3}" ng-model="$ctrl.departmentId3">
                        <option value="">-- {{$ctrl.currentFarm.Departments}} --</option>
                    </select>
                </div>
            </div>





            <div class="col-md-2" style="" ng-if="($ctrl.departments | filter:{TypeId:4}).length > 0">
                <div class="form-group">
                    <label>{{$ctrl.currentFarm.SubDepartments}}</label>
                    <select class="form-control" ng-change="$ctrl.onSearchChange()" ng-options="department.Id as department.Name for department in $ctrl.departments | filter:{TypeId:4}" ng-model="$ctrl.departmentId4">
                        <option value="">-- {{$ctrl.currentFarm.SubDepartments}} --</option>
                    </select>
                </div>
            </div>




            <div class="tooltip-container">
                <button class="btn btn-success btn-xs" style="float:left;margin-left:10px;">שליחת קישור למסומנים</button>
                <div class="tooltip-text">
                    <i class="icon icon-sms" ng-click="$ctrl.sendSMS(1)"></i>
                    <i class="icon icon-email" ng-click="$ctrl.sendSMS(2)"></i>
                    <i class="icon icon-whatsapp" title="באופציה זו יש לבחור עובד/ת בודד/ת" ng-click="$ctrl.sendSMS(3)"></i>
                </div>
            </div>








        </div>

        <div class="table-responsive">

            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>#</th>
                        <th ng-if="($ctrl.farmspdffiles | filter:{ Is101: true }).length > 0"> שנת מס</th>
                        <th>שם פרטי</th>
                        <th>שם משפחה</th>
                        <th>טלפון</th>
                        <th>אימייל</th>
                        <th>סוג שליחה</th>
                        <th>תאריך שליחה</th>
                        <th>תאריך אישור   {{$ctrl.currentFarm.FarmsTypeNameOne}}</th>
                        <th>סטטוס</th>
                        <!--<th>SMS</th>-->
                        <th>PDF</th>
                        <th></th>

                        <th width="5%"><input type="checkbox" ng-model="$ctrl.checkAllc" style="width:52px;height:20px" ng-click="$ctrl.checkAll()"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="worker in $ctrl.workers.Items">


                        <td> <a class="btn btn-default" ui-sref="workerall({id:worker.w.Id})">{{worker.w.Id}}</a></td>
                        <td><b>{{$ctrl.ShnatMas}}</b></td>
                        <td>{{worker.w.FirstName}}</td>
                        <td>{{worker.w.LastName}}</td>
                        <td>{{worker.w.PhoneSelular}}</td>
                        <td>{{worker.w.Email}}</td>
                        <td>{{worker.m.Name}}</td>


                        <td>{{(worker.cs.DateSend) ? (worker.cs.DateSend | ildate: 'HH:mm DD/MM/YYYY ') :''}}</td>
                        <td>{{(worker.cs.DateConfirm) ? (worker.cs.DateConfirm | ildate: 'HH:mm DD/MM/YYYY ') :''}}</td>
                        <td>{{(worker.css.Id!=4) ? worker.css.Name:''}}</td>



                        <td><a ng-if="worker.css.Id==6" class="btn  btn-success" ng-href="{{$ctrl.uploadsUri + worker.w.Id +'/' + worker.cs.CampainsId +'/AllPdfTemp.pdf'}}" target="_blank">PDF</a></td>
                    
                        <td> <button class="btn  btn-warning" ui-sref="worker({id:worker.w.Id,campainid:$ctrl.campain.Id,shnatmas:$ctrl.ShnatMas,fromshnati:true})">עדכון</button></td>

                        <td width="5%"><input style="width:52px;height:20px" type="checkbox" ng-model="worker.IsSelected" /></td>

                    </tr>

                    <tr>
                        <td colspan="13" style="text-align:center; padding:10px;">
                            סך הכל: <strong>{{$ctrl.workers.TotalCount | number}}</strong> רשומות
                        </td>
                    </tr>
                </tbody>
            </table>



            <style>
                .pagination > li > button.page-link {
                    position: relative;
                    float: right;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.42857143;
                    color: #337ab7;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    cursor: pointer;
                }

                .pagination > li.active > button.page-link {
                    z-index: 2;
                    color: #fff;
                    background-color: #337ab7;
                    border-color: #337ab7;
                }

                .pagination > li.disabled > button.page-link {
                    color: #777;
                    background-color: #fff;
                    border-color: #ddd;
                    cursor: not-allowed;
                }

                .pagination > li > button.page-link:focus {
                    outline: none;
                }
            </style>

            <div class="text-center">
                <ul class="pagination pagination-sm">

                    <!-- ראשון -->
                    <li ng-class="{disabled: $ctrl.currentPage === 1}">
                        <button class="page-link" ng-click="$ctrl.goToFirstPage()" ng-disabled="$ctrl.currentPage === 1">ראשון</button>
                    </li>

                    <!-- קודם -->
                    <li ng-class="{disabled: $ctrl.currentPage === 1}">
                        <button class="page-link" ng-click="$ctrl.goToPreviousPage()" ng-disabled="$ctrl.currentPage === 1">&laquo;</button>
                    </li>

                    <!-- מספרי עמודים -->
                    <li ng-repeat="n in $ctrl.getPages() track by $index"
                        ng-class="{active: n === $ctrl.currentPage, disabled: n === '...'}">
                        <button class="page-link"
                                ng-click="$ctrl.goToPage(n)"
                                ng-disabled="n === '...'">
                            {{n}}
                        </button>
                    </li>

                    <!-- הבא -->
                    <li ng-class="{disabled: $ctrl.currentPage === $ctrl.totalPages()}">
                        <button class="page-link" ng-click="$ctrl.goToNextPage()" ng-disabled="$ctrl.currentPage === $ctrl.totalPages()">&raquo;</button>
                    </li>

                    <!-- אחרון -->
                    <li ng-class="{disabled: $ctrl.currentPage === $ctrl.totalPages()}">
                        <button class="page-link" ng-click="$ctrl.goToLastPage()" ng-disabled="$ctrl.currentPage === $ctrl.totalPages()">אחרון</button>
                    </li>

                </ul>
            </div>





        </div>
        <div class="panel-footer">

            <label>במסך זה ניתן להגדיר 101 שנתי ל{{$ctrl.currentFarm.FarmsTypeName}},יש לשים לב! נועד אך ורק לשנתי לעובדים שכבר נקלטו. </label>


        </div>
    </div>
</div>