<div class="panel panel-default">
    <div class="panel-heading">
        <div style="font-weight:bold;text-align:center;font-size:16px;" class="row">
            <div class="col-md-4"> {{$ctrl.protname}}</div>




            <div class="col-md-4">

                <!--<span style="">Min:</span>
                <input class="" style="width:70px;" type="number" ng-model="$ctrl.count">
                <button style="" type="button" class="btn btn-default" ng-click="$ctrl.Summery()">Summery</button>-->

                <button style="" type="button" class="btn btn-primary" ng-click="$ctrl.NextPrev(2)">Prev</button>
                <button style="" type="button" class="btn btn-primary" ng-click="$ctrl.NextPrev(1)">Next</button>



            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.downloadExcelAmazone()" data-dismiss="modal">Download Excel Amazone</button>
                <button type="button" style="margin-left:10px" class="btn btn-primary btn-xs" ng-click="$ctrl.addToBulkMasterPhrase()">Add to negative Phrase bulk master</button>
            </div>
        </div>

    </div>
    <div class="panel-body" style="height:800px;overflow:auto">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Negative Words
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                       
                        <label>Negative from Exact bulk</label>
                    </div>

                    <div class="col-md-12">
                       
                        <button class="btn btn-danger btn-xs" style="margin:3px" ng-if="portfolioword.Type=='1' && !portfolioword.IsHard" ng-repeat="portfolioword in $ctrl.portfoliowords | orderByDateDesc track by $index">
                            <img src="../../images/notArrive.png" height="15px" ng-click="$ctrl.removeWords(portfolioword)"/> 
                            <a class="" href="" ng-click="$ctrl.openGoogle(portfolioword)" style="color:white">  {{portfolioword.Word}}</a>
                        </button>

                    </div>

                    <div class="col-md-12">
                        <hr />

                    </div>

                    <div class="col-md-6">
                       
                        <input class="form-control" style="" type="text" ng-model="$ctrl.newHardNegative">
                    </div>
                    <div class="col-md-2">
                        <button style="" type="button" class="btn btn-danger" ng-click="$ctrl.AddHard(1)">Add Hard Negative</button>
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <label>Hard Negative</label>
                    </div>

                    <div class="col-md-12">

                        <button class="btn btn-danger btn-xs" style="margin:3px" ng-if="portfolioword.Type=='1' && portfolioword.IsHard" ng-repeat="portfolioword in $ctrl.portfoliowords | orderByDateDesc track by $index">
                            <img src="../../images/notArrive.png" height="15px" ng-click="$ctrl.removeWords(portfolioword)" />
                            <a class="" href="" ng-click="$ctrl.openGoogle(portfolioword)" style="color:white">  {{portfolioword.Word}}</a>
                       </button>

                        <!-- </a>-->

                    </div>





                </div>

                </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Positive Words
                </div>
                <div class="panel-body">

                    <div class="col-md-12">

                        <label>Positive from Exact bulk</label>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-xs" ng-click="$ctrl.removeWords(portfolioword)" style="margin:3px" ng-if="portfolioword.Type=='2' && !portfolioword.IsHard" ng-repeat="portfolioword in $ctrl.portfoliowords | orderByDateDesc track by $index">
                            <img src="../../images/notArrive.png" height="15px" />   {{portfolioword.Word}}
                        </button>
                    </div>

                    <div class="col-md-12">
                        <hr />

                    </div>


                    <div class="col-md-6">
                        <input class="form-control" style="" type="text" ng-model="$ctrl.newHardPositive">
                    </div>
                    <div class="col-md-2">
                        <button style="" type="button" class="btn btn-success" ng-click="$ctrl.AddHard(2)">Add Hard Positive</button>
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <label>Hard Positive</label>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success btn-xs" ng-click="$ctrl.removeWords(portfolioword)" style="margin:3px" ng-if="portfolioword.Type=='2' && portfolioword.IsHard" ng-repeat="portfolioword in $ctrl.portfoliowords | orderByDateDesc track by $index">
                            <img src="../../images/notArrive.png" height="15px" />   {{portfolioword.Word}}
                        </button>
                    </div>


                </div>

            </div>

        </div>



    </div>


    <div class="modal fade" id="modal" style="margin-left:20%;margin-top:2%;z-index:50000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">All Negative List - {{$ctrl.portfolioitems.length}}</h4>
                </div>
                <div class="modal-body" style="height:400px;overflow:auto">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.downloadExcelAmazone()" data-dismiss="modal">Download Excel Amazone</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.downloadExcel()" data-dismiss="modal">Download Excel</button>
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close </button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>7 days sales</th>
                                <th>Impressions</th>
                                <th>Clicks</th>

                                <th>CTR</th>

                                <th>Spend</th>
                                <th>ACOS</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="portfolioitem in $ctrl.portfolioitems | orderByDateDesc track by $index">
                                <td><input type="checkbox" ng-model="portfolioitem.Remove" /></td>
                                <td><a ng-href="https://www.amazon.com/s?k={{portfolioitem.CustomerSearchTerm}}" target="_blank">{{portfolioitem.CustomerSearchTerm}}</a></td>
                                <td>{{portfolioitem.Days7}}</td>
                                <td>{{portfolioitem.Impressions}}</td>
                                <td>{{portfolioitem.Clicks}}</td>

                                <td>{{portfolioitem.CTR}}</td>

                                <td>{{portfolioitem.Spend}}</td>
                                <td>{{portfolioitem.ACOS}}</td>
                                <!--<td>{{expense.Date | ildate: 'DD/MM/YYYY'}}</td>-->


                            </tr>
                        </tbody>


                    </table>




                    <div class="footer">



                        s=



                    </div>



                </div>


            </div>
        </div>
    </div>
